<h2>Order Confirmed!</h2>

<% @carts.each do |item|%>
<h2> <%= item.product.name %>
<h2>Quantity: <%= item.quantity %></h2>
<% end %>
<h2>Order Id:  <%= @order.id %></h2>
<h2>Subtotal: $<%= @order.subtotal %></h3>
<h2>Tax: $<%= @order.tax %></h3>
<h2>Total: $<%= @order.total %></h3>
