<h2> Checkout</h2>


  <% @carts.each do |product| %>
  <li> Name: <%= product.product.name %></li>
  <li>Price: <%= product.product.price %></li>
  <li> Quantity: <%= product.quantity %></li>
  <%= link_to "Remove from cart", "/shoppingcart/:id", {method: :delete, class: "btn btn-danger" }%>
  <% end %>

  <%= form_tag '/orders', method: :post do %>

  <div>
  <%= submit_tag "Buy Now", class: 'btn btn-primary' %>
  </div>
  <% end %>
