<h1>My product!</h1>

 <p>Name:<%= @products.name %></p>
 <p>Price $ <%= @products.price %></p>
 <p> <img src = "<%= @products.image %>" alt =""></p>
 <p><%=@products.description%></p>

<%= link_to "Back to all products","/products"%>
