<!DOCTYPE html>
<html>
<head>
  <title>MiniCapstone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
 <link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><img src="" alt="Home" class="img-responsive center-block"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><h1></h1></li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span></span></a>
          <ul class="dropdown-menu" role="menu">
              <% if current_user && current_user.admin %>
                <li><a href="/products/new">Create a product</a></li>
              <% end %>
            <li><a href="/products?sort=price&sort_order=asc">Sort by Price: lowest to highest</a></li>
            <li><a href="/products?sort=price&sort_order=desc">Sort by Price: highest to lowest</a></li>
            <li><a href="/shoppingcart">Checkout Page</a></li>
            <li><a href="/products/random">Random</a></li>
            <%- if current_user signed_in? %>
              <li><%= link_to t('auth.sign_out'), destroy_user_session_path, method: 'delete' %></li>
            <% else %>
              <li><%= link_to t('auth.sign_in'), new_user_session_path %></li>
              <li><%= link_to t('auth.sign_up'), new_user_registration_path %></li>
            <% end %>

            <% if current_user.nil? %>
              <li><a href="/login">Login</a></li>
              <li><a href="/signup">Sign Up</a></li>
            <% end %>
            <% if current_user %>
              <li><%= link_to "Logout", "/logout", method: 'delete' %></li>
            <% end %>
            <li class="divider"></li>
            <% Category.all.each do |category| %>
            <li><a href="/products?category=<%= category.name %>"><%= category.name %></a></li>
            <% end %>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</header>
<div class="container-fluid">
<% flash.each do |name, message| %>
  <div class="alert alert-<%= name %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button><p><%= message %></p>
    <% if message.is_a?(Array) %>
    <ul>
      <% message.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% else  %>
    <p><%= message %></p>
    <% end %>
  </div>
  <% end %>
  <%= form_tag("/search", method: "get") do %>
    <%= label_tag(:search) %>
    <%= text_field_tag(:search) %>
    <%= submit_tag("Search") %>
  <% end %>
<%= yield %>
</div>
</body>
</html>
